
.blog {
margin-top: 50px;
}

.posts {
    margin-top: 10px;
    display: grid;
    grid-template-rows: repeat(1);
    grid-template-columns: repeat(3, 1fr);   
    gap: 1px; 
      }


article {
    padding:30px;
    
}

img {
    margin: 0px;
}

article .image {
   
    background-color: #f4f8ff ;
    width:300px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.article-1 .image  {
    background-image: url(images/menstrual.jpg);
    background-size: cover;
   
}

.article-2 .image  {
    background-image: url(images/hero-image.jpg);
    background-size: cover; 
}

.article-3 .image  {
    background-image: url(images/pexels-william-fortunato-6393043.jpg);
    background-size: cover; 
}

.article-1 .image:hover,
.article-2 .image:hover,
.article-3 .image:hover  {
    opacity: 30%;
    cursor: pointer;
}

.article-1,
.article-2,
.article-3 {
    display: flex;
    flex-direction: column;
    gap:2px;
    margin: 0px;
    margin-bottom: 10px;
}

.posts a {
    display: flex;
    align-items: center;
    font-weight: 500;
    gap:10px;
    color:#ff9bc8;
}

.posts i {
    color:#ff9bc8;
    font-size: 12px;
}

small {
    color:rgb(116, 106, 164);
}

article h4 {
    margin-bottom: 5px;
    line-height: 18px;
}

article p {
    font-size: 14px;
}

.blog h1 {
   margin-left: 30px;
   border-bottom: 0.2px rgb(202, 199, 227) solid;
   line-height: 70px;
   width:93%;
}
